<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="about">
    <h1>About</h1> <br>
    <img src="/static/Alcid.png" width="100" height="100"> <br>
    <p style="font-size: 12px;">Alcid, Eugene Vincent C.</p>
    <p style="font-size: 10px;">4th Year, Computer Engineering Student</p><br>
    <img src="/static/Cantero.png" width="100" height="100"> <br>
    <p style="font-size: 12px;">Cantero, Ivan Vincent C.</p>
    <p style="font-size: 10px;">4th Year, Computer Engineering Student</p><br>
    <img src="/static/Ong.png" width="100" height="100"> <br>
    <p style="font-size: 12px;">Ong, Jamson Howell C.</p>
    <p style="font-size: 10px;">4th Year, Computer Engineering Student</p><br>
    <img src="/static/Pacinos.png" width="100" height="100"> <br>
    <p style="font-size: 12px;">Pacinos, Jerglen Ray A.</p>
    <p style="font-size: 10px;">4th Year, Computer Engineering Student</p><br>
    <a href="/home">
        <button type="button" class="btn"><span>Exit</span></button></a>
    </div>
</body>
</html>
