<html>
<head>
    <title>Braille Format Converter</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container2">
    <h2>Braille Format Converter</h2> <br>
    <button type="button" class="btn"><span>Scan</span></button> <br>
    <button type="button" class="btn"><span>Format</span></button> <br>
    <a href="/update">
        <button type="button" class="btn"><span>Accounts</span></button> <br></a>
    <a href="/about">
        <button type="button" class="btn"><span>About</span></button> <br></a>
    <a href="/welcome">
        <button type="button" class="btn"><span>Exit</span></button></a>
    </div>
</body>
</html>
