<html>
<head>
    <title>Update/Delete</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container" style="width: 500px; display: table;">
        <div style="display: table-row">
            <form class="container" style="width: 350px; display: table-cell;" action="/searchUpdate" method="POST"> 
                <h1>Account Change Password</h1>
                <label for="user">Account Name:</label>
                <input type="text" class="input" id="user" name="user" placeholder="enter account name here"><br><br>
                <label for="pass">Account Password:</label>
                <input type="password" class="input" id="pass" name="pass" placeholder="do not enter anything here"><br><br>
                <a href="/searchUpdate">
                    <button type="submit" class="btn" style="width: 190px;"><span>Update Password</span></button></a>
                <a href="/home">
                    <button type="button" class="btn"><span>Back?</span></button></a>
                </form>
            <form class="container" style="display: table-cell;" action="/delete2" method="POST"> 
                <br><h1>Delete Account</h1>
                <label for="user">Account Name:</label>
                <input type="text" class="input" id="user" name="user" placeholder="enter account name here"><br><br>
                <a href="/delete2">
                    <button type="submit" class="btn" style="width: 175px;"><span>Delete Account</span></button></a> 
            </form>
        </div>
    </div>
    {% if missing or allUpdate or noUserName or deleteSuccess or Failed %}
            <div class="containerStatus">
            <p>{{allUpdate}}</p>
            <p>{{missing}}</p>
            <p>{{Failed}}</p>
            <p>{{noUserName}}</p>
            <p>{{deleteSuccess}}</p>
            </div>
    {% endif %}
</body>
</html>
